
table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.inputsForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
}

.example-full-width {
  width: 100%;
}
.buttons2{
  margin: -91px 0px 2px 640px;
}
.mat-form-field-appearance-legacy {
  padding-bottom: 1.25em;
  margin: 3px;
}

.inputID{
  display: none;
}
