<table #tableOfDishes mat-table [dataSource]="listDishes" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let dish"> {{dish.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let dish"> {{dish.name}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let dish"> {{dish.price}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let dish"> {{dish.category}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<div class="inputsForm">
    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input matInput placeholder="Enter id" [(ngModel)]="id">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>name</mat-label>
      <input matInput placeholder="Enter name" [(ngModel)]="name">
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>price</mat-label>
    <input matInput placeholder="Enter price" [(ngModel)]="price">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>category</mat-label>
    <input matInput placeholder="Enter category" [(ngModel)]="category">
  </mat-form-field>

</div>
<button (click)="addDish()" mat-fab color="primary">Add</button>

<button (click)="updateDish()" mat-fab color="primary">Update</button>

<button (click)="removeDishById()" mat-fab color="primary">Remove</button>




